.main-content {
  margin: 20px;
}

.no-label {
  align-self: flex-end;
}

.member-profile {
  aspect-ratio: 1; 
  height: 2rem; 
  border-radius: 50%;
}

a:focus-visible,
button:focus-visible {
  outline: none !important;
  outline-offset: 0 !important;
  border: unset !important;
  box-shadow: none !important;
  border: 3px dashed orangered !important;
}
