.main-content {
  margin: 20px;
}

.no-label {
  align-self: flex-end;
}

.member-profile {
  aspect-ratio: 1; 
  height: 2rem; 
  border-radius: 50%;
}

a:focus-visible,
button:focus-visible,
.btn:focus-visible {
  outline-width: 3px;
  outline-color: orangered;
  outline-style: dashed;
  box-shadow: none;
}
