@use "bootstrap/scss/bootstrap" with (
  $color-mode-type: media-query,
);

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.text-bg-orange {
  color: #fff;
  background-color: $orange;
}

.text-bg-purple {
  color: #fff;
  background-color: $purple;
}
