// Import Bootstrap with configuration
@use "bootstrap/scss/bootstrap" with (
  $color-mode-type: media-query,

  /*$success: #28a745,
  $danger: #dc3545,
  $warning: #ffc107,*/

);

:root {
/*  --bg-color-hover-active: #f0f0f0;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--bg-color-hover-active: #343a40;*/
  }
}
